body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
     background: white;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    height: 230px;
    background-image: "";
    background-position: center;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.363);
    text-align: center;
    margin: auto;
}


img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

div {
    color: black;
    font-style: italic;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;

}